/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

* {
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

.btn {
  text-align: center;
  letter-spacing: 0.04em;
  transform-style: preserve-3d;
  padding: 28px 40px;
  font-weight: 700;
  line-height: 1.111em;
  transition: box-shadow 0.15s, transform 0.15s;
}

.button {
  text-align: center;
  letter-spacing: 0.04em;
  transform-style: preserve-3d;
  padding: 28px 40px;
  font-weight: 700;
  line-height: 1.111em;
  transition: box-shadow 0.15s, transform 0.15s;
}

.button:hover {
  transform: scale3d(1.06, 1.06, 1.01);
  box-shadow: 0 4px 18px rgba(223, 0, 0, 0.6);
  background-color: var(--primary-1);
}
.btn:hover {
  transform: scale3d(1.06, 1.06, 1.01);
  box-shadow: 0 4px 18px rgba(223, 0, 0, 0.6);
  background-color: var(--primary-1);
}

.p {
  font-weight: 300;
  width: 90vw;
  text-align: center;
}
.but {
  width: 45vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.h1 {
  width: 80vw;
  text-align: center;
  font-size: 4.5rem;
  line-height: 1;
}

.h {
  width: 95vw;
  text-align: center;
  font-size: 3.5rem;
  line-height: 1;
}
.hm {
  text-align: center;
  letter-spacing: 0.04em;
  transform-style: preserve-3d;
  padding: 28px 40px;
  font-family: Chakra Petch, sans-serif;
  font-weight: 700;
  line-height: 1.111em;
  transition: box-shadow 0.15s, transform 0.15s;
}

.hm:hover {
  transform: scale3d(1.06, 1.06, 1.01);
  box-shadow: 0 4px 18px rgba(223, 0, 0, 0.6);
  background-color: var(--primary-1);
}

.one {
  background-color: var(--neutral-800);
}

.three {
  background-color: var(--secondary-1);
}

.two {
  background-color: var(--primary-1);
}

.tw {
  color: var(--primary-1);
  padding-right: 15px;
}

.num {
  font-weight: 700;
  font-family: Chakra Petch, sans-serif;
  font-size: 30px;
}

.nm {
  font-weight: 700;
  font-family: Chakra Petch, sans-serif;
  font-size: 20px;
}

.nu {
  font-weight: 700;
  font-family: Chakra Petch, sans-serif;
  font-size: 20px;
}

.box {
  width: 380px;
  height: 300px;
  background-color: rgb(255 255 255 / 0.15);
}

.box2 {
  padding: 32px;
  background-color: #282d34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box3 {
  padding: 20px;
  background-color: #11161e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pd {
  padding-left: 7vw;
  padding-right: 8vw;
  padding-top: 5px;
  padding-bottom: 5px;
}
.con {
  width: 95vw;
  height: 65vh;
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.pi {
  width: 80vw;
}
.isi {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 350vh;
  justify-content: space-evenly;
  align-items: center;
}

.sec {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec1 {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in {
  width: 45vw;
  height: 65vh;
}

.ini {
  width: 45vw;
  height: 50vh;
}

.ohi {
  height: 60vh;
  width: 50vw;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
  padding-right: 2.5rem;
}

.ig {
  width: 50vw;
  height: 65vh;
}

.ig0 {
  width: 45vw;
  height: 70vh;
}

.is {
  width: 100%;
  height: 350vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.h2 {
  width: 95vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 20px;
}

.hi {
  width: 95vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .i{
  width: 30vw;
} */
.bo {
  justify-items: center;
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
  width: 95vw;
  height: 270vh;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  /* grid-template-columns: 25vw 25vw 25vw ; */
  grid-template-rows: 60vh 60vh 60vh 60vh;
}

.bo1 {
  grid-column: 1/2;
  grid-row: 1/2;
  transition: ease-in-out 0.5s;
}

.bo1:hover {
  transform: scale(0.95);
}

.bo2 {
  grid-column: 2/3;
  grid-row: 1/2;
  transition: ease-in-out 0.5s;
}
.bo2:hover {
  transform: scale(0.95);
}

.bo3 {
  grid-column: 3/3;
  grid-row: 1/2;
  transition: ease-in-out 0.5s;
}
.bo3:hover {
  transform: scale(0.95);
}

.bo4 {
  grid-column: 1/2;
  grid-row: 2/2;
  transition: ease-in-out 0.5s;
}
.bo4:hover {
  transform: scale(0.95);
}
.bo5 {
  transition: ease-in-out 0.5s;

  grid-column: 2/3;
  grid-row: 2/2;
}
.bo5:hover {
  transform: scale(0.95);
}

.bo6 {
  grid-column: 3/3;
  grid-row: 2/2;
  transition: ease-in-out 0.5s;
}
.bo6:hover {
  transform: scale(0.95);
}

.bo7 {
  grid-column: 1/2;
  grid-row: 3/3;
  transition: ease-in-out 0.5s;
}

.bo7:hover {
  transform: scale(0.95);
}
.bo8 {
  grid-column: 2/3;
  grid-row: 3/3;
  transition: ease-in-out 0.5s;
}

.bo8:hover {
  transform: scale(0.95);
}

.bo9 {
  grid-column: 3/3;
  grid-row: 3/3;
  transition: ease-in-out 0.5s;
}
.bo9:hover {
  transform: scale(0.95);
}

.bo10 {
  grid-column: 2/3;
  grid-row: 4/4;
  transition: ease-in-out 0.5s;
}

.bo10:hover {
  transform: scale(0.95);
}

.ia {
  transition: ease-in-out 0.5s;
}

.ia:hover {
  transform: scale(0.95);
}

.la {
  height: 170vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.l {
  width: 95vw;
  height: 125vh;
}

.game {
  display: grid;
  width: 100%;
  height: 50vh;
  grid-template-columns: 24.5vw 24.5vw 24.5vw 24.8vw;
  grid-template-rows: 50vh;
}

.game1 {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  inset: 0px;
  transition: 3s ease-in-out;
}
.image.instagram-icon {
  width: 25%;
  position: absolute;
}
.game1:hover {
  background-color: rgba(64, 74, 90, 0.7);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(0, 100%);
  opacity: 0.75;
}
.game2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.game3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.game4 {
  grid-column: 4/5;
  grid-row: 1/2;
}

/* shop--------------------------- */

.sh {
  transition: 3s ease-in;
}

.sh:hover img {
  transform: scale(1.1);
}

.sh:hover h3 {
  color: #f32c46;
}

@media screen and (max-width: 991px) {
  .h {
    font-size: 3rem;
    line-height: 1;
  }

  .ohi {
    height: 50vh;
    width: 90vw;
  }

  .l {
    height: 240vh;
  }
  .la {
    height: 270vh;
    border: 2px solid white;
  }

  .but {
    width: 60vw;
    justify-content: space-around;
  }

  .h1 {
    font-size: 4rem;
  }

  .isi {
    width: 100%;
    height: 600vh;
  }

  .pi {
    width: 80vw;
  }
  .con {
    width: 100%;
    height: 280vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .box {
    width: 90vw;
    height: 400px;
  }

  .sec {
    flex-direction: column;
    height: 130vh;
  }

  .sec1 {
    flex-direction: column-reverse;

    height: 130vh;
  }
  .in {
    width: 90vw;
    height: 70vh;
  }

  .ini {
    width: 90vw;
    height: 50vh;
  }

  .ig {
    width: 90vw;
    height: 60vh;
  }

  .ig0 {
    width: 90vw;
    height: 60vh;
  }

  .is {
    height: 450vh;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  /* .i{
    width: 40vw;
  } */

  .bo {
    height: 380vh;
    grid-row-gap: 10rem;
    grid-column-gap: 5rem;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 60vh 50vh 50vh 50vh 50vh;
  }

  .bo1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .bo2 {
    grid-column: 2/2;
    grid-row: 1/2;
  }

  .bo3 {
    grid-column: 1/2;
    grid-row: 2/2;
  }

  .bo4 {
    grid-column: 2/2;
    grid-row: 2/2;
  }

  .bo5 {
    grid-column: 1/2;
    grid-row: 3/3;
  }

  .bo6 {
    grid-column: 2/2;
    grid-row: 3/3;
  }

  .bo7 {
    grid-column: 1/2;
    grid-row: 4/4;
  }

  .bo8 {
    grid-column: 2/2;
    grid-row: 4/4;
  }

  .bo9 {
    grid-column: 1/2;
    grid-row: 5/5;
  }

  .bo10 {
    grid-column: 2/2;
    grid-row: 5/5;
  }
}

@media screen and (max-width: 820px) {
  .h1 {
    font-size: 3.5rem;
    width: 90vw;
  }

  .l {
    width: 95vw;
    height: 220vh;
  }
  .hm {
    font-weight: 500;
    padding: 25px 210px;
    font-size: 16px;
  }
  .but {
    width: 95vw;
    height: 30vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    font-weight: 500;
    padding: 25px 200px;
    font-size: 16px;
  }

  .h2 {
    height: 20vh;
  }

  .h {
    font-size: 2.5rem;
    line-height: 1;
  }

  .con {
    height: 210vh;
  }
  .box {
    width: 90vw;
    height: 300px;
  }

  .num {
    font-weight: 700;
    font-family: Chakra Petch, sans-serif;
    font-size: 20px;
  }
}

@media screen and (max-width: 780px) {
  .h2 {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  .ohi {
    align-items: center;
    padding-right: 0;
    text-align: center;
  }

  .is {
    height: 780vh;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .bo {
    width: 100%;
    height: 730vh;
    grid-row-gap: 5rem;
    justify-items: center;
    grid-template-columns: 90vw;
    grid-template-rows: 60vh 60vh 60vh 60vh 60vh 60vh 60vh 60vh 60vh 60vh;
  }

  .bo1 {
    width: 90vw;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .bo2 {
    width: 90vw;

    grid-column: 1/2;
    grid-row: 2/2;
  }

  .bo3 {
    width: 90vw;

    grid-column: 1/2;
    grid-row: 3/3;
  }

  .bo4 {
    width: 90vw;

    grid-column: 1/2;
    grid-row: 4/4;
  }

  .bo5 {
    width: 90vw;

    grid-column: 1/2;
    grid-row: 5/5;
  }

  .bo6 {
    width: 90vw;

    grid-column: 1/2;
    grid-row: 6/6;
  }

  .bo7 {
    width: 90vw;

    grid-column: 1/2;
    grid-row: 7/7;
  }

  .bo8 {
    width: 90vw;

    grid-column: 1/2;
    grid-row: 8/8;
  }

  .bo9 {
    width: 90vw;

    grid-column: 1/2;
    grid-row: 9/9;
  }

  .bo10 {
    width: 90vw;

    grid-column: 1/2;
    grid-row: 10/10;
  }

  .i {
    width: 90vw;
    height: 40vh;
  }

  .num {
    font-weight: 600;
    font-size: 10px;
  }

  .box3 {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .num {
    font-weight: 700;
    font-size: 20px;
  }
}
@media screen and (max-width: 590px) {
  .hm {
    font-weight: 400;
    padding: 20px 150px;
    font-size: 16px;
  }

  .h1 {
    font-size: 3rem;
    width: 90vw;
  }

  .btn {
    font-weight: 400;
    padding: 20px 150px;
    font-size: 16px;
  }

  .button {
    padding: 20px 25px;
    font-weight: 700;
    width: 70vw;
  }

  .isi {
    width: 100%;
    height: 570vh;
    justify-content: center;
  }
}

@media screen and (max-width: 460px) {
  .btn {
    font-weight: 400;
    padding: 15px 90px;
    font-size: 13px;
  }

  .hm {
    font-weight: 400;
    padding: 16px 90px;
    font-size: 13px;
  }
  .h1 {
    font-size: 2.5rem;
    width: 90vw;
  }
  .p {
    font-weight: 300;
    width: 70vw;
    text-align: center;
  }
  .h2 {
    height: 40vh;
  }
  .h {
    font-size: x-large;
  }

  .i {
    height: 50vh;
  }

  .con {
    height: 250vh;
  }

  .is {
    height: 800vh;
    justify-content: space-evenly;
  }

  .bo {
    height: 750vh;
  }

  .box3 {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .but {
    width: 45vw;
  }

  .l {
    width: 90vw;
  }

  /* .but{
      width: 95vw;
      height: 50vh;
   
    } */
}
.icon:hover {
  transform: scale3d(1.06, 1.06, 1.01);
  box-shadow: 0 4px 18px rgba(223, 0, 0, 0.6);
}
